*{
	text-decoration: none;
	padding: 0px;
	margin:0px;
	transition: 0.3s ease-out;
	outline: none;
	border:none;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 150px;
}

nav{
	width: 550px;
	display: flex;
	justify-content: space-between;
}

nav a{
	color: #000;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
}
.catalog{
	height: 77vh;
	padding: 0 150px;
}

.head{
	height: 52px;
	background-color: #2D9CDB;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 27px 0 42px 0;
}

h1{
	font-family: Arial;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	color: #FFFFFF;
}

.bookcard{
	display: flex;
	margin-bottom:60px;
}

.bookinf{
	margin-left: 30px;
	height: 213px;
	width: 270px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

h2{
	font-family: Arial;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	margin-bottom: 30px;
}

h3{
	font-family: Arial;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

button{
	width: 173px;
	height: 55px;
	background-color: #2D9CDB;
	font-family: Arial;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	align-self: center;
	transition: 0.3s ease-in-out;
}

.wrapper{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

footer{
	padding:0 150px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #2D9CDB;
}

footer p{
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #fff;
}

footer div{
	width: 200px;
}
