*{
	text-decoration: none;
	padding: 0px;
	margin:0px;
	transition: 0.3s ease-out;
	outline: none;
	border:none;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 150px;
}

nav{
	width: 550px;
	display: flex;
	justify-content: space-between;
}

nav a{
	color: #000;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
}

.contacts{
	margin:6vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row1{
	display: flex;
	margin-bottom: 20px;
	align-items: center;
}

.row2{
	display: flex;
	align-items: center;
}

.information{
	width: 290px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.information h3{
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: #000000;
}
.information p{
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: #000000;

}
.phone{
	width: 290px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.phone h3{
	font-family: Arial;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: #000000;
}
.phone p{
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: #000000;

}


footer{
	padding:0 150px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #2D9CDB;
}

footer p{
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #fff;
}

footer div{
	width: 200px;
}