*{
	text-decoration: none;
	padding: 0px;
	margin:0px;
	transition: 0.3s ease-out;
}
body{
	background-image: url(img/bg.jpg);
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.block1{
	height: 100vh;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 150px;
}

nav{
	width: 550px;
	display: flex;
	justify-content: space-between;
}

nav a{
	color: #fff;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
}
	.title1{
		width: 403px;
		padding:0 190px;
	}
	.title1 h3{
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 36px;
		line-height: 41px;
		display: flex;
		align-items: center;
		text-align: center;
		color: #FFFFFF;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
	
	.line{
		margin: 10px 0;
		border: 2px solid #FFFFFF;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}

	.title1 p{
		font-family: Arial;
		font-style: normal;
		font-size: 20px;
		line-height: 23px;
		color: #FFF;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	}
	footer{
	padding:0 150px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #2D9CDB;
}

footer p{
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #fff;
}

footer div{
	width: 200px;
}